{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center">{% block title %} VideoGame Archives {% endblock %}</h1>
{% endblock %}
<!--make a table for this-->
{% block content %}
  <form method="post">
    <label for="game">Search for a games details</label>
    <input name="game" id="game" value="{{ request.form['game'] }}" required>
    <input type="submit" value="Submit">
    {%for item in game_return%}
    <div>{{item}}}</div>
    {%endfor%}
  </form>
<a href="{{ url_for('sample.other_example') }}"> Next Page </a>
{% endblock %}